@import "tailwindcss";

.input {
  @apply border border-gray-300 rounded-md px-3 py-2 w-full text-sm focus:ring-2 focus:ring-[#2563EB] outline-none transition;
}

body {
  @apply bg-[#F8FAFC] text-gray-900 font-sans;
}

/* In your CSS file or <style> */
.autoscroll-container {
  scrollbar-width: none !important; /* Firefox */
}
.autoscroll-container::-webkit-scrollbar {
  display: none !important; /* Chrome, Safari, Edge */
}